

.page-header.page-header{
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    background-image: url('banner.png');
    background-repeat: no-repeat;
    background-position: right; 
    color: #6f58c9;
    
}


.page-header.page-header a{
  text-decoration: none;
}


 .navbar.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;

  }
  
  .navbar.navbar-default .navbar-brand {
    color: #6f58c9;
  }
  .navbar.navbar-default .navbar-brand:hover,
  .navbar.navbar-default .navbar-brand:focus {
    color: #6f58c9;
  }
  .navbar.navbar-default .navbar-text {
    color: #7e78d2;
  }

  .navbar-nav > li{
    padding-left:55px;
    padding-right:55px;
  }
  .navbar.navbar-default .navbar-nav > li > a {
    color: #7e78d2;
  }
  .navbar.navbar-default .navbar-nav > li > a:hover,
  .navbar.navbar-default .navbar-nav > li > a:focus {
    color: #6f58c9;
    transition-timing-function: ease-in;
    transition: 2s;
  }
  .nav.navbar-nav > li.navbar-left {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
  }
  
  .navbar-brand {
    padding: 0px;
  }
  .navbar-brand>img {
    height: 90%;
    width: auto;
  }
  .banner {
      width: 100%;
    *background-color: #c3d7df;
  }
  

.bgimage {
  width:100%;
  height:500px;
  background: url('hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.bgimage2 {
  width:100%;
  height:500px;
  background: url('store.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.bgimage3 {
  width:100%;
  height:500px;
  background: url('lab.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}


.bgimage4 {
  width:100%;
  height:500px;
  background: url('place.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}

.bgimage p, .bgimage2 p, .bgimage3 p, .bgimage4 p{
    color: white;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    font-weight: bold;
    padding-top: 15%;
}

.paragraphs h3{
  font-family: 'Gloria Hallelujah', cursive;

}
.container.container{
  font-family: 'Gloria Hallelujah', cursive;

}

.btn{
  background-color: #F3B6FF;
}


.border-class{
  /* Add these 'flex' properties */
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #F3B6FF;
  padding:5px;
  min-height:160px;
}

.mydiv{
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: white;
  border-color: #F3B6FF;
  height: 200px;
  width: 600px;
  padding: 10px;
  border-style: solid;
}

.divdiv{
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: white;
  color: white;
  border-color: white;
  height: 200px;
  width: 600px;
  padding: 10px;
  border-style: solid;
}

#lab_social_icon_footer {
  padding: 40px 0;
  background-color: #b6b8d6;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-ig:hover {
  color: #b642f4;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}


.demo{padding:45px 0}
.product-grid2{font-family: 'Gloria Hallelujah', cursive; position:relative}
.product-grid2 .product-image2{overflow:hidden;position:relative}
.product-grid2 .product-image2 a{display:block}
.product-grid2 .product-image2 img{width:100%;height:auto}
.product-image2 .pic-1{opacity:1;transition:all .5s}
.product-grid2:hover .product-image2 .pic-1{opacity:0}
.product-image2 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;transition:all .5s}
.product-grid2:hover .product-image2 .pic-2{opacity:1}
.product-grid2 .social{padding:0;margin:0;position:absolute;bottom:50px;right:25px;z-index:1}
.product-grid2 .social li{margin:0 0 10px;display:block;transform:translateX(100px);transition:all .5s}
.product-grid2:hover .social li{transform:translateX(0)}
.product-grid2:hover .social li:nth-child(2){transition-delay:.15s}
.product-grid2:hover .social li:nth-child(3){transition-delay:.25s}
.product-grid2 .social li a{color:#505050;background-color:#fff;font-size:17px;line-height:45px;text-align:center;height:45px;width:45px;border-radius:50%;display:block;transition:all .3s ease 0s}
.product-grid2 .social li a:hover{color:#fff;background-color:#3498db;box-shadow:0 0 10px rgba(0,0,0,.5)}
.product-grid2 .social li a:after,.product-grid2 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:22px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid2 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.product-grid2 .social li a:hover:after,.product-grid2 .social li a:hover:before{opacity:1}
.product-grid2 .add-to-cart{color:#fff;background-color:#404040;font-size:15px;text-align:center;width:100%;padding:10px 0;display:block;position:absolute;left:0;bottom:-100%;transition:all .3s}
.product-grid2 .add-to-cart:hover{background-color:#6f58c9;text-decoration:none}
.product-grid2:hover .add-to-cart{bottom:0}
.product-grid2 .product-new-label{background-color:#3498db;color:#fff;font-size:17px;padding:5px 10px;position:absolute;right:0;top:0;transition:all .3s}
.product-grid2:hover .product-new-label{opacity:0}
.product-grid2 .product-content{padding:20px 10px;text-align:center}
.product-grid2 .title{font-size:17px;margin:0 0 7px}
.product-grid2 .title a{color:#303030}
.product-grid2 .title a:hover{color:#3498db}
.product-grid2 .price{color:#303030;font-size:15px}
@media screen and (max-width:990px){.product-grid2{margin-bottom:30px}
}


img.left{
  float: left;
}
.vid{
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column2 {
  font-family: 'Gloria Hallelujah', cursive;
  float: left;
  padding-right: 100px;
  padding-left: 100px;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



        /* Container for all terms and definitions */

        .accordion {
          background-color: #eef;
          width: 800px;
          max-width: 98%;
          margin: 1em auto;
          border: solid 1px #555;
          font-family: 'Gloria Hallelujah', cursive;
          border-radius: 5px;

      }

      /* Each item inside the accordion container. */

      .accordion div {
          box-sizing: border-box;
      }

      /* Heading at top of each item. */

      .accordion h2 {
          margin: 0;
          padding: 8px;
          background: #b6b8d6;
          font-size: 1.1em;
      }

      /* Section within each item */

      .accordion section {
          margin: 0;
          background-color: white;
          overflow: hidden;
          display: none;
      }

      .accordion section p {
          margin: 1em;
      }

      /* hide section under h2 */

      .up {
          height: 0;
      }

      /* Extend section to full height */

      .down {
          height: 100%;
      }





.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}


/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}


/* Right Column */

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Configuration */
.product-color span,
.cable-config span {
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #F3B6FF;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

p #cf7_controls {
  text-align:center;
}
#cf7_controls span {
  padding-right:5em;
  cursor:pointer;
  text-align: center;
  font-size: 20px;

}
#cf7 {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto 10px;
}
#cf7 img {
  position:absolute;
  left:0;
  height: 500px;
  width: 300px;
  margin: 70px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

.select{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
}